
#diagram {
}

.geDiagramContainer{
    touch-action: auto !important;
    margin: auto;
}

.link {
    text-decoration: underline;
    color: blue !important;
}

.custom-diagram {
    /* visual styling */
    padding-top: 10px;
    padding-bottom: 10px;
}

.blink-anchor:target {
    animation-name: blink;
    animation-delay: var(--after-scroll-animation-delay);
    animation-direction: normal;
    animation-duration: .5s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
}

@keyframes blink {
    0% { color: rgba(0,0,0,.9); }
    100% { color: rgba(0,0,0,0); }
}