
.preamble .inner {
    margin: auto;
    width: 65%;
}

.preamble {
    margin-bottom: 1%;

    /* visual styling */
    padding-top: 1% !important;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}