
.text-section .inner {
    width: 65%;
}

.text-section {
    margin-bottom: 1%;

    /* visual styling */
    padding-top: 1% !important;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}