.menu-content {
    max-height: 0;
    transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.menu-label.expanded ~ .menu-content {
    max-height: 1000px;
}

.menu-label.expanded {
    background-color: #eee;
    color: var(--bar-text-color) !important;
}

.menu-label{
}

.collapsible-menu {
    overflow: hidden;
}

.collapsible-menu ul {
    list-style-type: none;
    padding-inline: 0;
    margin-block: 0;
    padding: 5px;
}