/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100%;
}

#footer {
    position: relative;
    justify-content: center;
}

#nav {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    justify-content: flex-end;

    /* visual styling */
    top: 0;
}

#nav a {
    float: right;
    font-size: var(--nav-font-size);
}

#footer a {
    font-size: var(--footer-font-size);
}

.bar {
    width: 100%;
    display: inline-flex;
    align-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
    /* visual styling */
    background-color: var(--bar-back-color);
}

.bar a, .bar label {
    display: block;

    /* visual styling */
    padding: var(--nav-padding-vertical) var(--nav-padding-horisontal);
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.bar a:hover, .bar label:hover {

    /* visual styling */
    background-color: #eee;
    color: black;
}

.bar a.active, .bar label:checked {

    /* visual styling */
    background-color: #04AA6D;
    color: white;
}

#diagram {
    scroll-margin-top: calc(var(--nav-padding-vertical) * var(--nav-scroll-offset-factor));
    padding-left: 3%;
    padding-right: 3%;
}

.back-top {
    overflow: hidden;
    display: inline;
    z-index: 1000;
    float: right;
    place-self: end;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* --offset: 100px; 
      margin-top: calc(100vh + var(--offset));*/

    /* visual styling */
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
}

.custom-diagram-background {
    /* visual styling */
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--default-back-color);
}

.centered {
    text-align: center !important;
}

.justified {
    text-align: justify !important;
}

.preamble .inner {
    margin: auto;
    width: 65%;
}

.preamble {
    margin-bottom: 1%;

    /* visual styling */
    padding-top: 1% !important;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

:root {
    --nav-scroll-offset-factor: 3;
    --nav-padding-vertical: 20px;
    --nav-padding-horisontal:  32px;
    --bar-back-color: #333;
    --default-back-color: #eee;
    --nav-font-size: 17px;
    --footer-font-size: 12px;
}