ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
}

body nav {
  z-index: 1000;
  position: sticky;
  top: 0;
}

li {
  list-style: none;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #1ac;
}

.custom-diagram-background {
  padding-top: 10px;
  font-size: 50px;
  background: #eee;
}